{% extends 'base.html' %}

{% block title %}Create New Season{% endblock %}

{% block content %}
<h1>Create New Season and Championships</h1>

<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to create a new season and generate championships?</p>
    <button type="submit" class="btn btn-primary">Create Season</button>
</form>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}